.chatrooms-index {
  height: 100%;
  width: 100%;
  margin-top: 1rem;

  h1 {
    text-align: center;
  }

  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 100px;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d9e6;
    background: #e6e7ee;
    box-shadow: 20px 20px 60px #b8b9be,
      -20px -20px 60px #FFFFFF;


    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;

      &-left {
        display: flex;
        align-items: center;
      }

      img {
        margin-right: 1rem;
      }

      h2 {
        margin-bottom: 0;
      }

      p {
        justify-self: flex-end;
      }

    }
  }
}

#user_list {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 1.8rem;

}

.chatroom-show {
  height: 100%;
  width: 100%;
  margin-top: 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      height: 40PX;
      width: 40PX;
      border-radius: 15px;
      border-color: #d1d9e6;
      box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;

    }

    h1 {
      text-align: center;
    }
  }


  &-messages {
    position: relative;
    height: 100%;
    overflow: scroll;
    height: 80vh;
    max-height: 80vh;
    background-color: #e6e7ee;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d9e6;
    border-radius: 0.55rem;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    padding: 1rem;
  }

  &-illust {
    height: 70vh;
    max-height: 70vh;
  }

  &-inputs {
    position: fixed;
    bottom: 20px;
    display: flex;
    width: 90%;
    align-items: flex-start;

    .string {
      margin-right: 1rem;
    }
  }

  &-button {
    color: #ffffff;
    background: #ff6161;
    height: 46px;
    border: none;
    padding: 0px 26px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
  }

}

.chatroom-message {
  color: rgb(80, 80, 80)
}

@media (min-width: 360px) and (max-width: 390px) {
  .chatroom-show-messages {
    height: 70vh;
  }
}
