.meal-show {
  height: 100%;
  width: 100%;
  padding-bottom: 160px;

  &-container-img {
    width: 100%;
  }

  &-banner {
    padding: 1rem;
    border-bottom-right-radius: 40px;
    background: #e0e5ec;
    box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
    margin: 0 -1rem;
    height: 28rem;

    img {
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &-header {

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        height: 40PX;
        width: 40PX;
        border-radius: 15px;
        border-color: #d1d9e6;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
      }

    }
  }

  &-cooker-description {
    margin-top: 20px;
  }

  &-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(140, 140, 140);
  }

  &-body {
    position: relative;
    margin-top: 20px;
    width: 100%;

    &-detail {
      color: #FF6161;
    }

    &-ingredients {
      margin-left: 8px;
    }


    &-footer {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 10px;
      left: 0;
      padding: 1rem;
      width: 100%;



      &-quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4px 0px;
        width: 30%;
        background: linear-gradient(145deg, #caced4, #f0f5fd);
        border-radius: 24px;
        margin-left: 12px;
        color: rgb(140, 140, 140);

      }

      &-more {
        font-size: 20px;
        color: #FF6161;
      }

      &-less {
        font-size: 20px;
        color: rgb(180, 180, 180);
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        height: 50PX;
        width: 50PX;
        border-radius: 20px;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;

      }


    }

    &-button {
      padding: 14px 88px;
      color: #ffffff;
      background: rgb(180, 180, 180);
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      text-align: center;
      font-size: 1.3rem;

      h6 {
        margin: 0px;
      }
    }
  }
}
