.meal-show {
  height: 100%;
  width: 100%;


  &-available {
    margin-top: 30px;
    font-size: 16px;
    color: #FF6161;
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }


  &-banner {
    padding: 1rem;
    border-bottom-right-radius: 70px;
    border-bottom-left-radius: 70px;
    background: #e0e5ec;
    box-shadow: 20px 20px 60px #bec3c9, -20px -20px 60px #ffffff;
    margin: 0 -1rem;

    a {
      position: absolute;
      top: 16px;
    }

    img {
      width: 60%;
      height: auto;
      margin: 20px auto 0 auto;
      display: block;
    }

    &-header {

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        height: 40PX;
        width: 40PX;
        border-radius: 15px;
        border-color: #d1d9e6;
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
      }

    }
  }

  &-cooker {

    &-description {
      margin-top: 16px;
        p {
          text-align: center;
          font-family: 'Mali', cursive;
          color: rgb(120, 120, 120)
        }

      p {
        text-align: center;
        font-family: 'Mali', cursive;
        color: rgb(140, 140, 140)
      }

      i {
        color: #FF6161;
      }
    }

    &-signature {
      display: flex;
      align-items: center;
      width: fit-content;
      color: white;
      background: linear-gradient(145deg, #caced4, #f0f5fd);
      box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;
      padding: 2px 8px;
      border-radius: 20px;
      margin-top: 20px;

      &-container {
        display: flex;
        justify-content: flex-end;
      }

      p {
        font-size: 14px;
        color: rgb(140, 140, 140);
      }

      img {
        margin-right: 8px;
      }
    }
  }

  &-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FF6161;
    width: fit-content;
  }

  &-body {
    position: relative;
    margin-top: 20px;
    width: 100%;

    &-title {
      margin: 24px auto 0px auto;
      width: 100%;
      color: black;
      font-size: 17px;
      padding: 2px;
      border-radius: 20px;

      h6 {
        margin: 0px;
        font-size: 20px
      }
    }

    &-detail {
      color: rgb(120,120,120);
      text-align: center;
      margin-top: 8px;


      h2 {
        margin: 4px auto 0px auto;
        font-size: 24px;
      }
    }

    &-ingredients {
      margin: 6px 0px 24px 12px;
      color:rgb(120, 120, 120);
      font-family: 'Mali', cursive;
    }


    &-footer {
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 0;
      left: 0;
      padding: 1rem;
      width: 100%;
      background-color: #e6e7ee;

      &-price-container {
        margin-left: 18px;
        p {
          color: black;
          font-size: 18px;
        }
      }

      &-quantity {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 4px 0px;
        width: 30%;
        border-radius: 24px;
        margin: 0 auto 0 auto;
        color: rgb(140, 140, 140);
        background: linear-gradient(145deg, #caced4, #f0f5fd);
        box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;

        &-container {
          position: relative;
          top: 35px;
        }

      }

      &-more {
        font-size: 20px;
        color: #FF6161;
      }

      &-less {
        font-size: 20px;
        color: #FF6161;
        &-one {
          font-size: 20px;
          color: rgb(140,140,140);
        }
      }

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        height: 50px;
        width: 50px;
        border-radius: 20px;
      }

      span {
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 5px;
        margin-left: 5px;

      }


    }

    &-button {
      input {
        width: 100%;
        padding: 10px 55px;
        background: #FF6161;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        text-align: center;
        font-size: 1.3rem;
        color: #ffffff;
      }

      h6 {
        margin: 0px;
      }
    }
  }
}

.quantité-disponible {
  margin-top: 20px;
}

.meal-new {
  margin-top: 2rem;
  height: 100%;
  width: 100%;

  h1 {
    margin-bottom: 1rem;
  }
 .meal-add{
 
  padding: 8px 15px;
  color: #ffffff;
  background: #ff6161;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  border: none;
 }
}
