.profil {
  height: 100%;
  width: 100%;

  &-add-meal {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    a {

      padding: 8px 15px;
      color: #ffffff;
      background: #ff6161;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      font-size: 1.2rem;
      text-align: center;
    }

  }

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-more-info {
    left: fit-content;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 1px solid #ff6161;
    padding-bottom: 3px;
  }

}
.profile-meal-card-header-price{
  color: #ff6161;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}
