<div class="container-fluid" >
  <% if @order %>
    <div class="order-show" >
      @order.meal.name
    </div>
  <% else %>
    <div class="basket-show">
      <div class="basket-show-description">
        <h6>Ajouter des plats pour afficher votre panier</h6>
        <p>Une fois que vous avez ajouté un ou plusieurs plats, votre panier s'affichera ici.</p>
        <div class="basket-show-button-container">
          <%= link_to "Voir les cuistots disponibles", cookers_path, class:'basket-show-button'%>
        </div>
      </div>
    </div>
  <% end %>
</div>
