<div>
  <div class='container-mapbox'"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

    <div class="cooker-show-cards swiper-container">
      <div class="swiper-wrapper cooker-home-card-container">
      <% @cookers.each do |cooker| %>
          <div class="swiper-slide ">
            <div class="cooker-home-card">
              <%= link_to cooker_path(cooker) do %>
                <h3><%= cooker.full_name %></h3>
                <p>Chef confirmé</p>
                <div class="cooker-name-rating-container">
                  <p class="speciality">Cuisine Marocaine</p>
                  <p>
                <%# RATING EN DUR JUSQUA CE QUE LE MODEL REVIEW SOIT FAIT %>
                    4,5 <i class="fas fa-star" style="color: #FFDE3D"></i>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
