<div class='home-container'>
  <div class="container-fluid">
      <div class='home-top-container'></div>
      <h3>Neighborfood</h3>
      <h6>Mon voison est un chef</h6>
      <p>
        Réserver votre plat du soir à l'un des nombreux chefs cuistots de votre quartier !
        Avec neighborfood, rencontrez vos voisins et découvrez de nouvelles saveures à des prix raisonnables
      <div>
    <div class='list-homepage'>
      <h6>Comment ça marche ?</h6>
      <ul>
        <div class='list-homepage-card'>Les cuistots préparent leurs plats et les proposent sur neighborfood</div>
        <div class='list-homepage-card'>Je réserve mon plat sur l'application</div>
        <div class='list-homepage-card'>Je récupère mon plat chez le cuistot le jour même</div>
      </ul>
    </div>
      </div>
    <%= link_to 'Voir les cookers',cookers_path %>
  </div>
</div>
