<div class="container-fluid">
  <div class="cookers">
    <ul>
      <% @cookers.each do |cooker| %>
        <li> <%= link_to cooker.first_name , cooker_path(cooker) %> </li>
      <% end %>
      </ul>
    </div>
  </div>
