.cookers-show {
  height: 100%;
  width: 100%;


}

.meal-card {
  position: relative;
  height: 350px;
  width: 250px;
  border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
  background: linear-gradient(145deg, #caced4, #f0f5fd);
  box-shadow: 20px 20px 60px #bec3c9,
    -20px -20px 60px #ffffff;
  // text-align: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 100px;

  &-header {
    display: flex;
    justify-content: space-between;


    &-img {
      position: absolute;
      top: -75px;
      left: -8px;
      width: 120px;
      height: 160px;

      img {
        width: 164px;
        height: auto;
      }
    }




    &-price {
      font-size: 26px;
      font-weight: bold;
      color: rgb(140,140,140);
      position: absolute;
      left: 16%;
      bottom: 0%;
    }
  }

  &-body {
    height: 150px;
    width: 100%;
    margin-top: 100px;

    &-detail {
      padding-right: 10px;
      margin-top: 18px;

      p {
        color: rgb(120,120,120)
      }
    }

    &-quantity {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 200%;
      border-radius: 24px;
      margin: 0 auto 0 auto;
      color: rgb(140, 140, 140);
      background: linear-gradient(145deg, #caced4, #f0f5fd);
      box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff;

      &-container{
        position: absolute;
        right: -60%;
        top: 90%;
      }
    }

    &-button {
      position: absolute;
      right: -12px;
      bottom: -6px;
      padding: 5px 23px;
      color: #ffffff;
      background: #ff6161;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      text-align: center;
      font-size: 1.2rem;
    }

    &-more-info {
      position: absolute;
      right: 35%;
      bottom: 20%;
      width: fit-content;
      border-bottom: 1px solid #ff6161;
      padding-bottom: 3px;
      margin-top: 4px;
    }
  }
}

.form-control,
.form-control:focus,
.form-control:hover,
.form-control:active,
.form-select,
.form-select:focus,
.form-select:hover,
.form-select:active {

  width: 100%;

  padding: 0.6rem 0.75rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #000;
  background-color: #e6e7ee;
  background-clip: padding-box;
  border: 0.0625rem solid #d1d9e6;
  border-radius: 0.55rem;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  transition: all .3s ease-in-out;
}
