.cookers-show {
  height: 100%;
  width: 100%;

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;

  }
}

.meal-card {
  position: relative;
  height: 350px;
  width: 250px;
  border-radius: 15% 15% 15% 15% / 50% 50% 50% 50%;
  background: linear-gradient(145deg, #caced4, #f0f5fd);
  box-shadow: 20px 20px 60px #bec3c9,
    -20px -20px 60px #ffffff;
  // text-align: center;
  padding: 15px;
  margin: 0 auto;

  &-header {
    display: flex;
    justify-content: space-between;


    &-img {
      width: 120px;
      height: 160px;
      margin-top: -60px;
      margin-left: 6px;

      img {
        width: 120px;
        height: auto;
    }
    }




    &-price {
      margin-right: 15px;
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  &-body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    height: 200px;
    width: 100%;

    &-detail {
      padding-right: 10px;
    }

    &-quantity {
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
      height: 200px;

      i {
        font-size: 1.2rem;
      }
    }

    &-button {
      position: absolute;
      right: 12px;
      bottom: -12px;
      padding: 5px 23px;
      color: #ffffff;
      background: #000;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
