// Graphical variables
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Playfair+Display+SC&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";
@import 'swiper/swiper-bundle.min.css';
// Your CSS partials
@import "components/index";
@import "pages/index";
@import "mapbox-gl/dist/mapbox-gl";
@import "components/map";


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #e6e7ee;
}



::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  color: #555555;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
li {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

abbr[title] {
  text-decoration: none;
}
